
.cake{
	background-color: black;
	color: white;
}
#cola{
	margin-top: 3em;
}

.vpn{
	padding-top: 150px;

}

.jugu{
	padding-top: 130px;
	padding-left: 300px;
}
.shinlee{
	padding-top:130px; 
}

.shadow{
	padding-bottom: : 130px;
}

.shasha{
	padding-top: 130px;
}

.shisha{
	padding-bottom: 130px;
}

.texas{
	text-align: center;
	padding-right: 23em;
	padding-left: 23em;

}



.dave{
	width: 50%;
	margin-right: 60px;
	border-radius: 50%;
}

.dove{
	width: 100%;
	text-align: center;
}


.duve{
	width: 100%;
	text-align: center;
}



.piro{
	font-size: 20px;
}

butter{
	background-color: blue;
	color: white;
	width: 3%;
}

hr{
	width: 4%;
	background-color: blue;
	height: 5px;
}

.jogo{
	padding-bottom: : 150px;
}


.jaga{
	padding-top: 150px;
	
}

.jago{
	padding-bottom: : 150px;
	
}


	.main{
		margin-bottom: 10px;

	}
.coco{
	float: right;
}

.coca{
	float: right;
}

.cucu{
	float: right;
}

.caca{
	background-color: white;
	height: 350px;
	margin-top: 3em;

}
.frm {
	margin-left: 2em;
	height: 50px;

}
.fname{
	height: 50px;
}
.lname{
	height: 50px;
	margin-left: 30px; 
}

.email{
	height: 50px;
	margin-top: 10px;
	width: 25em;
}

.phone{
	height: 50px;
	width: 25em;
}
#button {
	width: 25em;
	height: 50px;
}
.pargh {
	color: black;
	font-size: 20px;
	padding-top: 30px;
	font-weight: 20px;
}

.rick{
	
	padding-right: 500px;
	float: left;
}


.pimps{
	
	margin-right: 100px;
	width: 80%;
}

.wenks{
	padding-right: 60px;
}

.chicha{
	margin-top: 50px;
}

.bella{
	width: 80%;
	margin-top:150px;
}

.lori{
	margin-top: 150px;
}

.bimbo{
	margin-top: 150px;
	text-align: center;
}

.bimba{text-align: center;}

.kenny{
	margin-top: 150px;
	width: 80%
}

.penny{
	margin-top: 150px;
}

.zenny{
	background-color: blue;
	color: white;
	border-radius: 50px;
}